#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
main {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

main > h2, p.browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}


.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}
body{
background-image: url('./girl.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}