<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Networking CCNA</ion-title>
    </ion-toolbar>
  </ion-header>
<body>


  <article class="browser">
    <ion-button [routerLink]="['/basic']">Basic</ion-button>
    <p>The CCNA is an entry-level networking certification that can prepare you for networking roles in IT like network specialist, network administrator, and network engineer.</p>
  </article>
  <article class="browser">
    <ion-button [routerLink]="['/osi']">osi</ion-button>
    <p>Mozilla Firefox is an open-source web browser developed by Mozilla. Firefox has been the second most popular web browser since January, 2018.</p>
  </article>
  <article class="browser">
    <h2>Microsoft Edge</h2>
    <p>Microsoft Edge is a web browser developed by Microsoft, released in 2015. Microsoft Edge replaced Internet Explorer.</p>
  </article>

</body>
</ion-content>
